<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head", {title: "Formulario de edición"})  %> 
</head>
    <title>Formulario de edición</title>
  </head>
  <body>
    <form action="/products/editProducts?_method=PUT" method="POST">
      <fieldset>
        <label for="product-category-input">Categoría de vino</label>
        <input name="Vino" type="text" id="product-category-input">
          </fieldset>
    
          <fieldset>
        <label for="product-name-input">Nombre de etiqueta</label>
        <input name="Etiqueta" type="text" id="product-name-input">
          </fieldset>

          <fieldset>
        <label for="product-price-input">Precio del producto</label>
        <input name="Precio" type="number" id="product-price-input">
          </fieldset>
       
    <button type="submit">ENVIAR</button>
    </form>
  </body>
</html>